.row {
    width: 1070px;
}

.col-md-2 {
    min-width: max-content;
    margin-top: 5px;
}

button {
    margin: 0;
}

#displayContent {
    display: flex;
}

#generationDataCanvas {
    display: inline-block;
    box-sizing: border-box;
}

#tabs {
    width: 350px;
    height: 700px;
    border: 1px solid #d0d7de;
    padding: 10px;
    margin-left: 10px;
    display: inline-block;
    box-sizing: border-box;
}

#tabButtons {
    width: 330px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#tabContent {
    width: 330px;
    height: 632px;
    border: 1px solid #d0d7de;
    margin-top: 10px;
    padding: 10px;
}

@media (max-width: 990px) {
    #displayContent {
        flex-direction: column;
    }
    #tabs {
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}




canvas {
    border: 1px solid #d0d7de;
}

canvas#generationDataPreview {
    width: 310px;
    height: 310px;
}

.tabSectionSeperator {
    width: 310px;
    height: 0;
    border: 1px solid #d0d7de;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttonLine {
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#startConditionsPreview {
    margin-right: 10px;
}

#startConditionsSave {
    margin-left: 10px;
}

.buttonLine input {
    width: 270px;
    margin-top: 10px;
    padding: .375rem .75rem;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border: 1px solid #ced4da;
    appearance: none;
    background-clip: padding-box;
}

.statisticsLine {
    margin: 5px;

}

.statisticsLine h2 {
    text-align: center;
    margin-top: 75px;
}

.statisticsLine h1 {
    text-align: center;
    margin-top: -50px;
    font-size: 100px;
}