div#imageStorage img {
    display: none;
}

div.line {
    display: block;
}

div.line * {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

div.line h3 {
    height: 40px;
    line-height: 40px;
}